body {
	padding-top: 50px;
}
svg {
    background: whitesmoke;
    border: thin black solid;
	margin-left: 50px;
}

.poly {
    stroke: steelblue;
    stroke-width: 2px;
}
.title-template {
	padding: 40px 15px;
	text-align: center;
}
#allele-selectors {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sample-entry-container {
	display: inline-block;
	height: 200px;
}
.sample-entry-title {
	position: absolute;
	margin-left: 12px;
}
.sample-entry {
	margin: 20px 10px; 10px; 10px;;
	display: inline-block;
	height: 300px;
}
.plots {
	display: inline-block;
}